@charset "UTF-8";


/* reset */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td, select {font-family:'Roboto' ,'Noto Sans KR', 'sans-serif' !important; margin:0; padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { width:100%; box-sizing: border-box;}
body {}
html, body {background-color:#100F38;}
body, code {width:100%; line-height:1; -webkit-text-size-adjust:none; position: relative;}
code { background:none; display:block; }
ul li { list-style:none; }
ol { list-style-position:inside; }
img, fieldset{ border:none; }
img { vertical-align:middle; }
hr.layout { display:none;}
em, address { font-style:normal; }
ins { text-decoration:none; }
a { text-decoration:none; color:#060510; cursor: pointer;}
a {-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
a:active { text-decoration:none; }
table { width:100%; table-layout:fixed; border:0 none; border-spacing:0; border-collapse:collapse; }
table caption { display:none; }
th, td { border:0; line-height:18px; }
legend { height:0; width:0; display:block; text-indent:-9999em; }
label { cursor:pointer; }
button::-moz-focus-inner { padding:0; border:0; }
input {-webkit-appearance: none; -webkit-border-radius: 0;}
input::placeholder {color:rgba(255, 255, 255, 0.3); font-size:15px;}
input.op50::placeholder {color:rgba(255, 255, 255, 0.5); font-size:15px;}
input:focus {outline: none;}

select {-webkit-appearance:none; /* for chrome */ -moz-appearance:none; /*for firefox*/ appearance:none; box-sizing: border-box; background:url(../images/select_bg.png) no-repeat right 16px center !important; -webkit-border-radius:0; -moz-border-radius:0;}
select:focus {outline: none;}
select::-ms-expand{display:none;/*for IE10,11*/}

.target{ -webkit-backface-visibility:hidden; -webkit-transform:translateZ(0); -webkit-transform:translate3d(0, 0, 0); }

/* html5 */
object, del, sub, var { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}

.notosans {font-family: 'Noto Sans KR' !important;}
.roboto {font-family: 'Roboto' !important;}
.Questrial {font-family: 'Questrial' !important;}

.wrap {position:relative;  height:100%; min-height:100vh; background:radial-gradient(99% 99% at 50% 1%, #131245 0%, #060510 100%);}

.up_btn_wrap {display: none; position: fixed; z-index: 999; bottom:70px; right:20px; background: #0D0C2C; border-radius: 50%; box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.149);}
.up_btn_wrap a {display: block; width:50px; height:50px; background:url(../images/arrow-up.png) no-repeat center}

header {height:50px; position: absolute; top:0; left:0; width:100%; /* 사파리 브라우저 지원 */ z-index: 999;}
header.scrolltop {background:#0D0C2C; position:fixed;}

.container {padding:0 20px; padding-bottom:50px;}

footer {position: fixed; bottom:0; left:0; width:100%; height:55px; padding:0 25px; box-sizing: border-box; background:#18162D;}
footer ul {width:100%; height:100%; display: flex; align-items: center; justify-content: space-between;}
footer ul li {width:24px; height:24px;}
footer ul li a {display: block; width:100%; height:100%; background:url(../images/home.png) no-repeat center;}
footer ul li a.home {background-image:url(../images/home.png)}
footer ul li a.home.on {background-image: url(../images/home_on.png);}
footer ul li a.search {background-image:url(../images/Search.png)}
footer ul li a.search.on {background-image:url(../images/search_on.png)}
footer ul li a.chat {background-image:url(../images/chat.png)}
footer ul li a.chat.on {background-image:url(../images/chat_on.png)}
footer ul li a.shopping {background-image:url(../images/shopping.png)}
footer ul li a.shopping.on {background-image:url(../images/shopping_on.png)}
footer ul li a.user {background-image:url(../images/user.png)}
footer ul li a.user.on {background-image:url(../images/user_on.png)}

.media_flex {display: flex;}
.media_flex input {flex:100;}
.media_flex input + a {margin-left:10px;}
.media_flex input + a.check {height:45px; width:100px; background:rgba(255, 255, 255, 0.15); text-align: center; line-height:45px; color:#fff; font-size:15px;}

/*뒤 검은 배경*/
.dim {display:none; position:fixed; width:100%; height:100%; top:0; left:0; right:0; background:#000; opacity:0.5; z-index:1000}

body.modal_open {overflow: hidden; position: fixed;}

/* 팝업(height 값 임의로) */
.home_sidemenu {padding:64px 20px 76px !important; overflow-y: scroll; box-sizing: border-box; top:0; background: #131245; width: 80%; height:100%; margin: 0; padding: 0; transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); position: fixed; right:-100%; text-align: left; z-index:9999;}
.home_sidemenu.modal_open {right:0;}
.home_sidemenu .popup_close {display:inline-block; position:absolute; top:20px; right:20px; width:24px; height:24px; background:url(../images/close.png) no-repeat center;}
.home_sidemenu ul li {border-bottom:1px solid rgba(255, 255, 255, 0.1);}
.home_sidemenu ul li a {color:#fff; font-size:15px; font-weight: 400; display: block; padding:14px 0;}

/* 마진 */
.m0 {margin:0 !important;}
.mt10 {margin:10px 0 0 !important;}

/* 포인트 컬러 */
.co1 {color:#FF3399;}
.co2 {color:#8FD800;}
.co3 {color:#060510;}
.co4 {color:#FAE100;}

h1.logo {position:absolute; top:50%; transform: translateY(-50%); left:20px; color:#8fd800; font-weight: 700; font-size:24px;}
h1.logo a {color:#8FD800;}

/* 버튼 */
.btn1 {display: block; padding:14px 0; width:100%; color:#060510; background:#8FD800; border:1px solid #8FD800; text-align:center; box-sizing: border-box; font-size:15px;}
.btn2 {display: block; padding:14px 0; width:100%; color:#fff; border:1px solid #fff; background:transparent; text-align:center; box-sizing: border-box; font-size:15px;}
.btn2.co1 {border:1px solid #FAE100; color: #FAE100;}
.btn2.off {border:1px solid rgba(255, 255, 255, 0.2);}

.btn3 {display: inline-block; width:70px; height:45px; line-height:45px; background:#8FD800; color:#060510; text-align: center; font-size:15px;}
.btn3.type2 {border-radius:2px; background:rgba(255, 255, 255, 0.15); color:#fff; height:38px; line-height:38px;}

.btn4 {display: inline-block; padding:10px 20px; border-radius: 5px; border:1px solid rgba(255, 255, 255, 0.3); color:#fff; font-size:15px; }



/* 레이 아웃 */

.btn_box {margin-top:20px;}
.input_box > .btn_box {margin-top:10px;}
.btn_box.two {display: flex;}
.btn_box.two > * + * {margin-left:10px;}
.btn_box.two.left0 > * + * {margin-left:0;}
.btn_box select {text-align: left; padding-left:15px; font-size:15px;}

.chk_wrap {margin-top:30px;}
.chk_wrap ul {padding:14px 0 0 20px; border-top:1px solid rgba(255, 255, 255, 0.15); margin-top:15px;}
.chk_wrap ul li + li {margin-top:10px;}
.chk_wrap ul li {position: relative;}
.chk_wrap ul li a {position: absolute; right:10px; top:50%; transform: translateY(-50%); display: block; width:7px; height:12px; background:url(../images/arrow_r.png) no-repeat center;}
.chk_box {color:#fff;}


.fixed_btn {position: fixed; bottom:0; left:0; width:100%; -webkit-backface-visibility:hidden; -webkit-transform:translateZ(0); -webkit-transform:translate3d(0, 0, 0);}
.fixed_btn a {padding:21px 0; font-weight: 500;}


/*  */

input[type="checkbox"] {width:24px; height:24px; background:url(../images/check_off.png); vertical-align: middle; border:0;}
input[type="checkbox"] + label {vertical-align: middle; font-size:15px; color:#fff; margin-left:8px;}
input[type="checkbox"]:checked {background-image: url(../images/check_on.png);}


/* 로고, GNB */

.gnb_wrap .right_box {display:flex; display: -webkit-box; display: -ms-flexbox; position:absolute; top:50%; transform: translateY(-50%); right:20px; height:24px; justify-content: flex-end;}
.gnb_wrap .right_box span {display: inline-block; width:24px; height:24px;}
.gnb_wrap .right_box span a {display: inline-block; width:100%; height:100%; background:url(../images/Search.png) no-repeat center;}
.gnb_wrap .right_box span + span {margin-left:10px;}
.gnb_wrap .right_box span.search a {background-image: url(../images/Search.png);}
.gnb_wrap .right_box span.bell a {background-image: url(../images/Bell.png);}
.gnb_wrap .right_box span.menu a {background-image: url(../images/menu.png);}

/* 유저 이미지 있는 곳 */

.user_wrap {margin-top:10px; display: flex; align-items: center; overflow: hidden;}
.user_wrap .user_image {flex: auto;}
.user_wrap .user_image a {display:block; width:52px; height:52px; overflow: hidden; border-radius: 50%;}
.user_wrap .user_image img {width:52px; height:52px;}
.user_wrap .right_box {flex: 100; margin-left:18px;}
.user_wrap .right_box .input_box {position:relative;}
.user_wrap .right_box .input_box span.info {display: inline-block; vertical-align: middle; color:#fff; font-size:15px; width:122px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.user_wrap .right_box .input_box input {background:transparent; border:none; color:#fff; font-size:15px; width:122px; vertical-align: middle;}
.user_wrap .right_box .input_box a {display: inline-block; vertical-align: middle; width:20px; height:20px; background:url(../images/edit.png) no-repeat; margin-left:8px;}
.user_wrap .right_box p {color:#888; font-size:12px; margin-top:5px; width:300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 배너 슬라이드 */

.banner_wrap {position:relative; border-radius: 10px; overflow: hidden; margin-top:15px; text-align: center; width:100%; box-sizing: border-box; }
.banner_wrap .slick_wrap {position:relative; display: inline-block; width:100%; height:70px; overflow: hidden; border-radius: 10px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); isolation:isolate;}
.banner_wrap .slick_wrap img {width:100%; height:70px;}

/* News */

.new_wrap {position: relative; background:#1D1C40; padding:10px 15px 15px; margin-top:20px; border-radius: 10px;}
.new_wrap h3.tit {color:#fff; font-size:16px; font-weight: 700; font-family: 'Noto Sans KR';}
.new_wrap > a.more {position: absolute; top:12px; right:12px; font-size:12px; color:#999; font-weight: 400;}
.new_wrap .news_slide {margin-top:12px;}
/* .new_wrap .news_slide li {max-width:260px;}
.new_wrap .news_slide li + li {margin-left:25px;}
.new_wrap .news_slide li > a.link {display: block; height:100%; } */
.new_wrap .news_slide a.link {display: flex !important;}
.new_wrap .news_slide .news_img_box {flex:auto; width:70px; height:70px; border-radius: 5px; overflow: hidden; vertical-align: middle;}
.new_wrap .news_slide .news_img_box img {width:100%; height:100%;}
.new_wrap .news_slide .news_content {flex:100; height:70px; vertical-align: middle; margin-left:15px;}
.new_wrap .news_slide .news_content p {color:#fff; font-size:14px; line-height:16.41px;}
.new_wrap .news_slide .news_content span {display: block; font-size:12px; margin-top:6px; color:#999;}
.swiper-slide {width: 84%;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
.swiper-wrapper {display: -ms-flexbox;}

/* 로그인 페이지 */

.login_wrap {margin-top:50px;}
.login_wrap h1.tit {color:#8FD800; font-size:24px; font-weight: 400; text-align: center;}

.form_box {margin-top:50px;}
.form_box .input_box {display: block; position: relative;}
.form_box .input_box + .input_box {margin-top:25px;}
.ico_search {display: block; position: absolute; top:0; right:0; width:40px; height:45px; background:url(../images/search.png) no-repeat center;}

.form_box .input_box label {display: block; margin-bottom:10px; color:#fff; font-weight: 400; font-size:15px;}
.form_box .input_box input {width:100%; height:45px; border:1px solid rgba(255, 255, 255, 0.2); background:transparent; padding:0 15px; color:#fff; box-sizing: border-box; font-size:15px;}
.form_box .input_box input.search_input {padding-right:45px;}
.form_box .input_box select {height:45px; padding:0 0 0 15px;}

.in_form {margin-top:22px; display: flex; justify-content: space-between;}
.in_form a {color:#fff; font-size:15px;}

.team_use {position:absolute; bottom: 30px; left:0px; width:100%; padding:0 20px; box-sizing: border-box; display: flex; justify-content: space-between;}
.team_use a {color:rgba(255, 255, 255, 0.5); font-size:15px; border-bottom:1px solid #999; padding-bottom:2px;}

/* 회원가입 절차 */

.process_wrap {}
.pro_header {position: relative;}
.pro_header h1 {color:#fff; font-size:18px; font-weight: 500; text-align: center; height:50px; line-height:50px;}
.pro_header a.back {display: inline-block; width:11px; height:18px; background:url(../images/arrow_l_w.png); position: absolute; top:50%; left:0px; transform: translateY(-50%);}

.progress {margin:10px 0 10px;}
.progress ul {display: flex; justify-content: flex-end;}
.progress ul li {width:8px; height:8px; border-radius: 50%; background:rgba(255, 255, 255, 0.2)}
.progress ul li.on {background:#fff;}
.progress ul li + li {margin-left:8px;}

.text_box p {coloR:#fff; font-size:14px; line-height:20.27px; }

.face_img {margin:10px 0 15px; text-align: center;}
.face_img .img_box {display:inline-block; position:relative; width:84px; height:84px; border-radius: 50%;}
.face_img .img_box img {width:100%; height:100%; border-radius:50%; overflow: hidden;}
.face_img .img_box a.camera {position: absolute; bottom:0; right:0; width:30px; height:30px; display:inline-block; background:url(../images/ico_camera.png)}
.face_img .img_box .name_box {margin-top:10px; white-space: nowrap;}
.face_img .img_box .name_box span {vertical-align: middle;}
.face_img .img_box .name_box span.gender {display: inline-block; width:20px; height:20px; margin-left:6px;}
.face_img .img_box .name_box span.gender.male {background-image: url(../images/male.png);}
.face_img .img_box .name_box span.gender.female {background-image: url(../images/female.png);}
.face_img .img_box span.name {display: inline-block; color:#fff; font-size:18px;}

/* 프로필 확인 */

.info_wrap {margin-top:30px; padding:20px; background:rgba(255, 255, 255, 0.08); border-radius: 10px;}
dl.info {display:flex; justify-content: space-between;}
dl.info.no_flex {display:block; min-height:150px;}
dl.info + dl.info {margin-top:20px;}
dl.info.no_flex dd {margin-top:10px;}
dl.info dt {display: inline-block; vertical-align: middle; color:rgba(255, 255, 255, 0.5); font-size:14px; min-width:120px;}
dl.info dd {display: inline-block; vertical-align: middle; color:#fff; font-size:15px; min-width:120px; text-align: left; line-height:22px;}
@media (max-width:300px) {
    dl.info dt {min-width:90px;}
}
.sns_wrap {margin:30px 0 0; text-align: center;}
.sns_wrap > * + * {margin-left:16px;}


/* 달력 */

.calendar_wrap {position:relative; margin:25px -20px 0; height:80px; padding:10px 35px 15px; box-sizing: border-box; background:rgba(255, 255, 255, 0.1); }
.calendar_swiper {overflow: hidden; padding:0 7px;}
.calendar_wrap .swiper-pointer-events {overflow: hidden;}
.calendar_wrap .swiper-button-prev {left:5px; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
.calendar_wrap .swiper-button-next {right:5px; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
.swiper-button-next:focus, .swiper-button-prev:focus {outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}

.calendar_wrap .swiper-button-prev:after {width:8px; height:12px; background:url(../images/arrow_l_calendar.png) no-repeat; font-size:0;}
.calendar_wrap .swiper-button-next:after {width:8px; height:12px; background:url(../images/arrow_r_calendar.png) no-repeat; font-size:0;}
.calendar_wrap .swiper-wrapper {text-align: center;}
.calendar_wrap .swiper-slide span.day {display: block; text-align: center; color:rgba(255, 255, 255, 0.5); font-size:12px; text-align: center; margin-bottom:10px;}
.calendar_wrap .swiper-slide span.date {text-align: center; display: inline-block; width:100%; font-size:15px; color:#fff; vertical-align: middle; line-height:32px;}
.calendar_wrap .swiper-slide span.date.on {width:32px; height:32px; background:#8FD800; margin:0 auto; line-height:31px; border-radius: 50%; color:#060510; font-weight: 700; font-size:16px;}


.calendar li dl dt {font-size:12px; height:17px; line-height:17px; color:rgba(255, 255, 255, 0.5);}
.calendar li dl dd {font-size:15px; color:#fff; height:32px; line-height:32px; margin-top:10px;}
.calendar li dl dd.on {background:#8FD800; width:32px; height:32px; border-radius: 50%; color:#060510; font-weight: 700; font-size:16px; line-height:32px; margin-top:9px;}

/* 명 모집 */
.day_info_wrap {margin:20px 0 0; }
.day_info_wrap ul li {padding:20px 15px; background:#ADCE74; border-radius: 10px; min-height:150px;}
.day_info_wrap ul li.bg1 {background:#ADCE74;}
.day_info_wrap ul li.bg2 {background:#FF4C29;}
.day_info_wrap ul li.bg3 {background:#10316B;}
.day_info_wrap ul li + li {margin-top:20px;}

/* 툴팁 박스 */
.day_info_wrap .ico_box [data-tooltip-text]:hover {position:relative;}
.day_info_wrap .ico_box [data-tooltip-text]:hover:before {content:''; display: inline-block; width:0; height:0; border-left:10px solid #fff; border-bottom:10px solid transparent; position:absolute; bottom:100%; left:10px;}
.day_info_wrap .ico_box [data-tooltip-text]:hover:after {content:attr(data-tooltip-text); min-width:59px; position:absolute; bottom:130%; left:0; padding:5px 12px; background-color:rgba(255,255,255,1); color:#000; font-size:14px;}
.day_info_wrap .ico_box span.ball {display: inline-block; width:24px; height:24px; background:url(../images/ico_ball_pink.png) no-repeat center;}
.day_info_wrap .ico_box span.ball + span.ball {margin-left:8px;}
/* 이미지 */
.day_info_wrap .ico_box span.ball.pink {background-image: url(../images/ico_ball_pink.png);}
.day_info_wrap .ico_box span.ball.yellow {background-image: url(../images/ico_ball_yellow.png);}
.day_info_wrap .ico_box span.ball.green {background-image: url(../images/ico_ball_green.png);}
.day_info_wrap .ico_box span.ball.blue {background-image: url(../images/ico_ball_blue.png);}
.day_info_wrap .ico_box span.ball.black {background-image: url(../images/ico_ball_black.png);}

/* 명 모집 콘텐츠  */
.day_info_wrap .info_content strong.tit {font-weight: 500; font-size:16px; display: block; margin-top:10px; width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color:#fff;}
.day_info_wrap .info_content span {margin-top:10px; color:#fff; font-size:14px; display: block;}
.day_info_wrap .info_content span.location {margin-top:13px;}
.day_info_wrap .info_content span.location:before {content:'';display:inline-block; width:18px; height:18px; background:url(../images/map_pin.png); vertical-align: -3px; margin-right:3px;}

.day_info_wrap .user_box {margin-top:10px; display:flex; display: -webkit-flex; display: -ms-flexbox; justify-content: space-between; align-items: center; font-size:14px; color:#fff;}
.day_info_wrap .user_box .left {flex:auto;}
.day_info_wrap .user_box .left a {display: inline-block; width:27px; height:27px; border-radius: 50%; overflow: hidden;}
.day_info_wrap .user_box .left a + a {margin-left:-7px;}
.day_info_wrap .user_box .left a img {display: block; width:100%; height:100%;}

.day_info_wrap .user_box .person:before {content:'';display:inline-block; width:12px; height:14px; background:url(../images/ico_person.png) no-repeat center; vertical-align: -2px; margin-right:6px;}
.day_info_wrap .user_box .person .total:before {content:'/'; font-size:14px; color:#fff; margin:0 4px 0 1px;}
/* 알림설정 */

.arm_wrap {margin-top:10px;}
.arm_wrap ul li {position:relative; display: flex; display:-webkit-box; display: -webkit-flex; height:55px; box-sizing: border-box; align-items:center; justify-content: space-between; padding:16px 0; border-bottom:1px solid rgba(255, 255, 255, 0.15);}
.arm_wrap ul li span {color:#fff; font-size:15px;}
.arm_wrap ul li a.arrow_r {position:absolute; width:100%; height:100%; background:url(../images/arrow_r.png) no-repeat top 50% right 10px / 7px 12px;}

/* 스위치 */
input[type="checkbox"].input__on-off {display: none; width:auto; height:auto;}
.label__on-off {overflow: hidden; position: relative; display: inline-block; width: 44px; height: 26px; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; background-color: rgba(255, 255, 255, 0.3); cursor: pointer; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.label__on-off > * {vertical-align: sub; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.label__on-off .marble {position: absolute; top: 50%; transform: translateY(-50%); left: 2px; display: block; width: 22px; height: 22px; background-color: #060510; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3); box-shadow: 0 0 10px rgba(0, 0, 0, .3);}
.label__on-off .on {display: none;padding-left: 12px;}
.label__on-off .off {padding-left: 30px; line-height: 25px;}
.input__on-off:checked + .label__on-off {background-color: #8FD800;}
.input__on-off:checked + .label__on-off .on {display: inline-block;}
.input__on-off:checked + .label__on-off .off {display: none;}
.input__on-off:checked + .label__on-off .marble {left: 19px;}

/* 검색어를 입력해주세요. */
.search_wrap {margin-top:15px;}

/* 검색어 삭제 버튼 */
.search_add_wrap {margin-top:20px;}
.search_add_wrap ul li {display: flex; display: -ms-flexbox; display: -webkit-flex; justify-content: space-between; align-items: center; height:55px; border-bottom:1px solid rgba(255, 255, 255, 0.15); padding:8px 0; box-sizing: border-box;}
.search_add_wrap ul li span {color:#fff; font-size:15px;}


/* 공지사항 content */
.up_down_wrap {position:relative; border-bottom:1px solid rgba(255, 255, 255, 0.2); margin:0 -20px; font-size:15px;}
.up_down_wrap p.tit {color:#fff; line-height:22px; margin-bottom:10px;}
.up_down_wrap p.tip {color:#fff; line-height:22px;}
.up_down_wrap span.date {color:rgba(255, 255, 255, 0.5); font-size:12px;}
.up_down_wrap span.content {display: block; color:#8FD800; line-height:22px; margin:20px 0; }
.up_down_wrap a {margin-top:20px;}
.up_down {background:rgba(255, 255, 255, 0.08); overflow: hidden; transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); padding:0 20px; box-sizing: border-box;}
.up_down.up {height:0px;}
.up_down .up_down_box {padding:20px 0;}
.up_down_click {padding:16px 50px 10px 20px; background:url(../images/arrow_up.png) no-repeat right 20px center;}
.up_down_click.up {background-image:url(../images/arrow_down.png)}

/* 자유게시판 */

.free_board li.list {padding:15px 20px; border-bottom:1px solid rgba(255, 255, 255, 0.2); margin:0 -20px;}
.free_board li a {display:block;}
.free_board li a p.tit {color:#fff; font-size:15px; line-height:22px;}
.free_board li a span.date {display: flex; display: -webkit-flex; display: -ms-flexbox; justify-content: space-between; margin-top:10px; color:rgba(255, 255, 255, 0.5); font-size:12px;}
.free_board li a span.date .date_left {display: flex; display: -webkit-flex; display: -ms-flexbox;}
.free_board li a span.date .date_left li + li:before {content:''; display: inline-block; margin:0 5px; width:1px; height:8px; background:rgba(255, 255, 255, 0.5);}

/* 자유게시판 읽기 */
.board_read_wrap {margin-top:10px;}
.board_read_wrap p.tit {font-size:24px; color:#fff; line-height:35px; margin-bottom:10px;}
.board_read_wrap span.date {font-size:12px; color:rgba(255, 255, 255, 0.5);}
.board_read_wrap .content {margin-top:26px; padding-right:10px;}
.board_read_wrap .content p {font-size:15px; color:#fff; line-height:22px;}
.board_read_wrap .btn_wrap {position: fixed; left:0; bottom:0; width:100%; border-top:1px solid rgba(255, 255, 255, 0.15); padding:20px; box-sizing: border-box; text-align: right; background:#0D0C2C; z-index: 9;}
.board_read_wrap .btn_wrap a + a {margin-left:16px;}

/* 테니스 영상 채널정보 */
.img_wrap {box-sizing: border-box;}
.img_wrap a.list {display: block;}
.img_wrap a.list {margin-top:20px;}
.img_wrap a.list img {width:100%;}

/* 뉴스픽 */

.news_pic {margin-top:10px;}
.news_pic li {padding:20px 0; border-bottom:1px solid rgba(255, 255, 255, 0.2);}
.news_pic li:first-child {padding-top:0;}

.news_pic li a.pic_flex {display: flex; display: -ms-flexbox; display: -webkit-flex; box-sizing: border-box; width:100%; align-items:flex-start;}
.news_pic li a.pic_flex .right {margin-left:12px;}
.news_pic li a.pic_flex .right p.tit {font-size:16px; font-weight: 500; color:#fff; line-height:24px; overflow:hidden; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; width:100%;}
.news_pic li a.pic_flex .right span {font-size:14px; color:rgba(255, 255, 255, 0.5); line-height:20px; display: block; margin-top:10px; overflow:hidden; display: -webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; width:100%;}


/* 메인 검색화면 (최근 검색) */
.search_list_wrap {margin-top:25px;}
.search_list_wrap .list_top {display: flex; display: -webkit-flex; display: -ms-flexbox; justify-content: space-between;}
.search_list_wrap .list_top .tip {font-size:12px; color:rgba(255, 255, 255, 0.5);}
.search_list_wrap .list_content {margin-top:10px;}
.search_list_wrap .list_content li {position: relative; display: flex; display: -webkit-flex; display: -ms-flexbox; border-bottom:1px solid rgba(255, 255, 255, 0.2); padding-right:40px;}
.search_list_wrap .list_content li a {padding:18px 0; color:#fff; font-size:15px;}
.search_list_wrap .list_content li a.x_small {position:absolute; top:50%; transform: translateY(-50%); right:0px; width:24px; height:24px; background:url(../images/x_small.png) no-repeat center}